.hamster-card {
    display: flex;
    flex-direction: column;
    position: relative;

    p {
        padding: 0px 16px 0px 16px;
        color: #000000 rgba($color: #000000, $alpha: 0.8);
        font-size: 20px;
    }

    img {
        width: 100%;
    }

    ;
}

.interaction-hamster {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 32px;
    background-color: white;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        flex: 1;
        border: unset;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        cursor: pointer;

        &:last-child {
            border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
        }

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.03);
        }

        mat-icon {
            font-size: 24px;
            color: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}